extends layout

block content
  .container
    .row-fluid.heading
      .span12
        p &nbsp
        h1(style='padding-bottom: 10px;') Page does not currently exist. 
        h1 Coming Soon!
