extends layout

block content
  include node-login/modals/alert
  include node-login/modals/confirm

  script.
    $('#firms_li').addClass('active');
  .container
    .row-fluid.heading
      .span12
        h1(style='padding-bottom: 10px') Firm Accuracy
        br
        table.table-striped(id='firmTable' align='center' width='100%' cellpadding='0' cellspacing='0' border='0') 
          thead
            tr
              th 
                h3 Firm
              th 
                h3 Average Error
              th 
                h3 Number of Ratings
          tbody
            each doc, i in forecast
              tr
                td
                  p
                    a(href='/firms/'+doc._id) !{doc._id}
                td
                  p #{Math.round(doc.value.avg * 10) / 10}%
                td
                  p #{doc.value.count}

block scripts
  //- node-login stuff
  script(src='node-login/vendor/jquery.form.js')
  script(src='node-login/vendor/bootstrap-modal.js')
  script(src='node-login/vendor/bootstrap-transition.js')
  script(src='node-login/js/views/home.js')
  script(src='node-login/js/controllers/homeController.js')
  script(src='node-login/js/form-validators/accountValidator.js')