extends layout

block content
  include node-login/modals/alert
  include node-login/modals/confirm

  script.
    $('#firms_li').addClass('active');

  .container
    .row-fluid.heading
      .span12
        h1(style='padding-bottom: 10px') Firm Accuracy
        p &nbsp;
        table.table-striped(id="firmTable" align="center" width="100%" cellpadding="0" cellspacing="0" border="0") 
          thead                  
            tr
              th 
                p
                  h3 Firm
              th 
                p
                  h4 Average Error
              th 
                p
                  h5 # of Ratings
          tbody
            each doc, i in forecast
              tr
                td
                  p
                    a(href='/firms/'+doc._id) !{doc._id}
                td
                  p(align="center") #{Math.round(doc.value.avg * 10) / 10}%
                td
                  p(align="center") #{doc.value.count}

