extends layout

block content
  include node-login/modals/alert
  include node-login/modals/confirm

  script.
    $('#home_li').addClass('active');
  .container
    .row-fluid.heading
      .span12
        h1 Analyst Accountability
    .row-fluid.subheading
      .span12
        p.lead Keeping Analysts in Check.
        each poop, i in docs
          .row-fluid.section1
            .span5.offset1.asset
              a.link(href='posts/'+poop._id)
                img.img-polaroid(alt=poop.PostTitle, src=poop.PostImage width='480' height='300')
            .span5.copy
              h3 
                a.link(href='posts/'+poop._id style="white-space: pre-wrap; text-align: left;") #{poop.PostTitle}
              p !{poop.Post} ...
                a.link(href='posts/'+poop._id) (Read More)
    ul.nav.nav-list
      li.divider
    .row-fluid.faq
      .span10.offset1
        h3 So why do we need to keep analysts accountable? 
        #accordion2.accordion
          .accordion-group
            .accordion-heading
              a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapseOne')
                | Analysts have a high variance of accuracy
            #collapseOne.accordion-body.collapse
              .accordion-inner
                | Something about the media only publicizing correct predictions and not scrutinizing the bad ones.
          .accordion-group
            .accordion-heading
              a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapseTwo')
                | Random Walk Theory
            #collapseTwo.accordion-body.collapse
              .accordion-inner
                | Something about not being able to be accurate if the market is random.
          .accordion-group
            .accordion-heading
              a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapseThree')
                | Dependence on analyst expertise
            #collapseThree.accordion-body.collapse
              .accordion-inner
                | Something about large financial institutions taking advantage.

