extends layout

block content
  .container
    .row-fluid.heading
      .span12
        p &nbsp;
        h1(style='padding-bottom: 10px;') Please get a premium account!!
        p This is where I beg you to get a premium acoount and explain how much of a benefit you'll receive with a subscription.  Seriously though, you'll get all the detailed information of every single rating.  I really want this premium subscription to be an avenue of self-research and discovery of whatever patterns may help you.  Additionally, it will really display how much some analysts suck and continue to get paid to do so.  I honestly think the premium subscription is a great idea and it more than likely won't ever be this cheap again.  
