extends layout

block content
  include node-login/modals/alert
  include node-login/modals/confirm

  .container
    .row-fluid.heading
      .span12
        p &nbsp;
        h1(style='padding-bottom: 10px;') Search Results
        p Searched for #{query}
        br
        h2 Our Apologies.  The search function is not currently working.

block scripts
  //- node-login stuff
  script(src='node-login/vendor/jquery.min.js')
  script(src='node-login/vendor/jquery.form.js')
  script(src='node-login/vendor/bootstrap-modal.js')
  script(src='node-login/vendor/bootstrap-transition.js')
  script(src='node-login/js/views/home.js')
  script(src='node-login/js/controllers/homeController.js')
  script(src='node-login/js/form-validators/accountValidator.js')
