extends layout

block content

  script.
    $('#stocks_li').addClass('active');
  .container
    .row-fluid.heading
      .span12
        h1(style='padding-bottom: 10px') Most Accurate Stocks
        p &nbsp;
        table.table-striped(id="firmTable" align="center" width="100%" cellpadding="0" cellspacing="0" border="0")
          thead
            tr
              th
                h3 Symbol
              th
                h3 Company
              th
                h3 Average Error
              th
                h3 # of Ratings
          tbody
            each doc, i in forecast
              tr
                td
                  p 
                    a(href='stocks/'+doc._id) #{doc._id}
                td
                  p #{doc.company}
                td
                  p(align="center") #{Math.round(doc.value.avg * 10) / 10}%
                td
                  p(align="center") #{doc.value.count}
