extends layout

block content
  include node-login/modals/alert
  include node-login/modals/confirm

  script.
    $('#stocks_li').addClass('active'); 
  .container
    .row-fluid.heading
      .span12
        h1(style='padding-bottom: 10px;' align="center") Most Accurate Stocks
        br
        table.table-striped(id="firmTable" align="center" width="100%" cellpadding="0" cellspacing="0" border="0")
          thead
            tr
              th
                h3 Symbol
              th
                h3 Company
              th
                h3 Average Error
              th
                h3 # of Ratings
          tbody
            each doc, i in forecast
              tr
                td
                  p 
                    a(href='stocks/'+doc._id) #{doc._id}
                td
                  p #{doc.company}
                td
                  p(align="center") #{Math.round(doc.value.avg * 10) / 10}%
                td
                  p(align="center") #{doc.value.count}

block scripts
  //- node-login stuff
  //- script(src='node-login/vendor/jquery.min.js')
  script(src='node-login/vendor/jquery.form.js')
  script(src='node-login/vendor/bootstrap-modal.js')
  script(src='node-login/vendor/bootstrap-transition.js')
  script(src='node-login/js/views/home.js')
  script(src='node-login/js/controllers/homeController.js')
  script(src='node-login/js/form-validators/accountValidator.js')
