
extends ../layout

block content
	include account
	include modals/alert
	include modals/confirm

block extraHeader
  link(rel='stylesheet', href='node-login/vendor/bootstrap.min.css')
  link(rel='stylesheet', href='node-login/css/style.css')

block scripts
  script(src='node-login/vendor/jquery.min.js')
  script(src='node-login/vendor/jquery.form.js')
  script(src='node-login/vendor/bootstrap-modal.js')
  script(src='node-login/vendor/bootstrap-transition.js')
  script(src='node-login/js/views/home.js')
  script(src='node-login/js/controllers/homeController.js')
  script(src='node-login/js/form-validators/accountValidator.js')