extends ../layout

block content
  include account
  include modals/alert
  include modals/confirm

block extraHeader
  //- link(rel='stylesheet', href='node-login/vendor/bootstrap.min.css')
  link(rel='stylesheet', href='node-login/css/style.css')