doctype html
html
  head
    title Node.js Login
    link(rel='stylesheet', href='/stylesheets/startup_code_bootstrap-combined.no-icons.min.css')
    link(rel='stylesheet', href='/vendor/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    a(href="http://github.com/braitsch/node-login")
block content
block scripts