
extends ../layout

block content
	include modals/reset-password

block scripts
	script(src='node-login/vendor/jquery.min.js')
	script(src='node-login/vendor/jquery.form.js')
	script(src='node-login/vendor/bootstrap-modal.js')
	script(src='node-login/vendor/bootstrap-transition.js')
	script(src='node-login/js/views/reset.js')
	script(src='node-login/js/form-validators/resetValidator.js')